<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <% for(i in scripts) { %>
      <script type="text/javascript" src="/javascripts/<%= scripts[i] %>.js"></script>
    <% } %>
  </head>
  <body>
    <!--<div id="jukebox-yt-player" style="display: hidden">-->
		<!--</div>-->
	<div>
  </body>
</html>
