body {
  background-image: url('/images/textured_stripes.png');
}
#yt-player-outer {
  display: none;
}
#controls .row #control-box {
  background-color: rgba(170, 170, 170, 0.3);
}
#controls .media-controls a {
  padding: 3px;
  color: black;
  text-decoration: none;
}
#controls .media-controls a :hover {
  text-decoration: none;
}
#controls .media-controls a.disabled {
  color: #999999;
}
#controls .status-text {
  position: absolute;
  margin-left: 5px;
  text-align: center;
}
