body {
  background-image: url('/images/textured_stripes.png');
}
#yt-player-outer {
  display: none;
}
#controls .row #control-box {
  background-color: rgba(170, 170, 170, 0.3);
}
#controls .media-controls a {
  padding: 3px;
  color: black;
}
#controls .media-controls a :hover {
  text-decoration: none;
}
